/*
Blue	: #005EB0
*/

/******************** Defaults ********************/
* { padding: 0; margin: 0; }

body {
	background: url("bg-noise.png") repeat scroll center top #EEEEEE; /* Background image */
	font-family: Arial,Helvetica,Geneva,sans-serif; /*Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

img { border: 0 none; }

a { color: #005EB0;}
a:hover { color: #008EB0; }

button, a {
	text-decoration: none;
	outline: 0 none;
}

pre { white-space: pre-wrap; }

textarea, input, select { margin: 2px; }

textarea, input[type="text"], input[type="password"], select {
    border: 1px solid #999999;
    padding: 2px;
	border-radius: 3px;
}

input[type="button"] {
    padding: 0 10px!important;
}

select option {
    padding: 0 5px;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 3px #005EB0;
	border: 1px solid #005EB0;
}

blockquote {
    background-color: #FAFAFA;
    font-style: italic;
    padding: 12px 40px;
}


/******************** Main CSS (page) ********************/

#header-container {
	background : url("header-blue.png") repeat-x scroll 0 0 #005EB0; /* Header image */
	width : 100%;
}

#header {
	background: inherit;
	height: 100px;
	position: relative;
	margin: 0 auto;
	width: 960px;
}

#title {
    margin: 26px 0 0 0;
    position: absolute;
}

#title h1 a {
    color: #FAFAFA;
    font-size: 20px;
    text-shadow: 1px 2px #333333;
	letter-spacing: -1px;
}

#title p {
	color: #FAFAFA;
	margin-top: 5px;
	text-shadow: 1px 2px #333333
}

#wrap {
	width: 960px;
	margin: 0 auto 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #FAFAFA;
	/*box-shadow: 2px 2px 2px #CCC;*/
}

#center {
	float: left;
	width: 706px;
	padding: 10px 24px 20px 10px;
}

#center p {
    margin: 5px 0;
}

#center .article {
	border: 1px solid #CCCCCC;
	width: 690px;
	background: #FCFCFC;
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 25px;
	box-shadow: 3px 9px 10px -6px #BBBBBB;
}

#center .article h3{
    font-size: 0.9em;
    margin: 5px 0;
    padding: 0;
}

#center .article-title {
	margin: 5px 0 25px;
}

#center .article-title h2 span {
	color: #005EB0;
}

#center .article-title h2 a,
#center .article-title h2 span {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -1px;
}

#center .article-title h3{
    font-size: 0.9em;
    margin-top: 5px;
    padding: 0;
}

#center .reportsregion .regionbody,
#center .borderlessregion .regionbody {
    padding: 10px 0;
}

#center .reportsregion .regionbody{
    border-top: 1px solid #CCCCCC;
}

#center .region h2,
#center .reportsregion h2,
#center .borderlessregion h2 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -1px;
    padding: 10px 0 5px 0;
}

#center .region {
	margin-top:15px;
}

#center div.comment {
    background-color: #F5F5F5;
	background-image:linear-gradient(#FCFCFC, #F5F5F5);
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
    /*margin: 10px 0 20px;*/
    padding: 4px 10px;
    /*text-align: right;*/
    width: 668px;
	height: 22px;
	clear:both;
}

#center div.comment .comment-link {
	color: #005EB0;
	float: right;
}

#center div.comment .comment-link img {
	margin-left: 5px;
}

#center div .question {
    color: #005EB0;
}
#center div .question  span {
    font-size: 16px;
}
#center div .answer {
	margin: 6px 0
}

/* twitter button */
#center div.comment div.social-button {
    float: left;
    margin-right: 8px;
}

#comments  .comment-text {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
	padding: 5px 10px;
	margin-bottom: 12px;
    width: 686px;
	box-shadow: 3px 9px 10px -6px #BBBBBB;
}

#comments h3 {
    font-size: 0.9em;
    margin: 0 0 5px;
    padding: 0;
}
	
.right {
	float: right;
	width: 210px;
	padding: 5px 10px 20px 0px;
}

.right h2 {
	color: #333333;
	padding: 15px 0 0px 0px;
	font-size: 17px;
	letter-spacing: -1px;
	font-weight: 200;
}
.right ul { color: #777777; padding: 5px 5px 0px 15px; list-style-type: square; margin:0; }
.right ul li { padding-bottom: 5px; }
/*
.right ul li a { color: #777777; }
.right ul li a:hover { color: #333333; }
*/
.right a { color: #777777; }
.right a:hover { color: #333333; }
.right .region{ margin-left:5px; }
.right .region p{ margin-top:3px; }

.clear {	clear:both; }

.footer {
	clear:both;
	border-top: 1px solid #CCCCCC;
	padding: 10px 15px;
	text-align: center;
	font-size: 11px;
	background: #EEEEEE;
}

/******************** Login page ********************/
#login-messages {
    height: 140px;
}
#login-main {
    display: table;
    margin: auto;
}

/******************** Error page ********************/
#center .errcontainer {
    background: url("stop.png") no-repeat;
    height: 200px;
    padding: 20px 0 0 164px;
    vertical-align: middle;
    color: #333333;
    font-weight: bold;
}

#center .ErrorPageMessage {
    color: #333333;
    font-weight: bold;
    margin-left: 164px;
}

/******************** Notification ********************/
#MESSAGE {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-weight: bold;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: 600px;
}

/******************** Buttons **********************/
button {
    border: 0;
    cursor: pointer;
    font-weight: normal;
    padding: 0 10px 0 0;
    text-align: center;
	margin: 0 4px 0 4px;
	width:auto;
	overflow:visible;
	margin-top:0px;
}

button span {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 13px;
    padding: 0 4px 0 15px;
}

button.button-gray {
    background: url("bt-gray-r.png") right no-repeat;
}

button.button-gray span {
    height: 20px;
    line-height: 20px;
    background: url("bt-gray-l.png") left no-repeat;
    color: #4F4F4F;
}

button.button-alt1 {
    background: url("bt-alt1-r.png") right no-repeat;
}

button.button-alt1 span {
    height: 20px;
    line-height: 20px;
    background: url("bt-alt1-l.png") left no-repeat;
    color: #4F4F4F;
}

/******************** Labels **********************/

.optionallabel {
	white-space:nowrap;
	color: #333333;
	font-weight: bold;
}

.helplabel {
	cursor:help;
	white-space:nowrap;
	color: #005EB0;
	font-weight: bold;
	text-decoration: none;
}
.helplabel:hover {
	position: relative;
}
.helplabel:hover div{
	display: block;
}
.helplabel div {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px;
	position: absolute;
	left: 1em;
	top: 1em;
	margin-left: 0;
	/*
	width: 250px;
	white-space: normal;
	*/
	white-space: nowrap;
	text-decoration: none;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-weight:bold;
	padding: 0.8em 1em;
	text-align: left;
	text-decoration: none;
	z-index: 9999;
	display:none
}

/******************** Tab list ********************/
#menu {
	position : absolute;
	bottom :0;
	right : 0;
}

#menu ul {
	list-style : none;
	padding : 0;
	margin : 0;
}

#menu li {
	float : left;
	margin : 0 0 0 4px;
}

#menu li:hover,
#menu li.current {
    background : #FAFAFA;
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;
}

#menu li:hover a,
#menu li.current a {
	color : #333333;
}

/*
#menu li div {
	width : inherit!important;
}
*/

#menu a {
	color : #FAFAFA;
	display: block;
	font-weight: 700;
	line-height: 22px;
	padding: 0 8px;
}

/******************** Regions ********************/
.reportsregion,
.borderlessregion {
	width: 100%;
}
.resourcesmargin{margin-top:40px}

/******************** Classic Report ********************/
/* Horizontal Border */
table.HorizontalBorder { width:100% }

table.HorizontalBorder td {
	padding:6px 6px;
	border-bottom:1px #CCCCCC solid;
	color: #333333;
}
table.HorizontalBorder th {
	padding:6px;
	border-bottom:1px #CCCCCC solid;
    color: #333333;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -1px;
}
span.nodatafound {
	font-size: 14px;
}

/******************** Article pagination (classic report) ********************/
#articlepages {
	padding: 2px 0;
	display: inline-block;
	height: 30px;
}
#articlepages b {
    background: #005EB0;
    padding: 4px 7px;
    color: #FAFAFA;
	border-radius: 3px;
    margin: 2px;
	display:inline-block;
	height: 14px;
	width: 14px;
	line-height: 14px;
	text-align: center;
}

#articlepages a {
    border: 1px solid #005EB0;
    padding: 3px 5px;
	border-radius: 3px;
    margin: 2px;
	display:inline-block;
	height: 14px;
	width: 14px;
	line-height: 14px;
	text-align: center;
}

#articlepages a:hover {
    background-color: #005EB0;
    color: #FAFAFA;
}

td.pagination {
    height: 30px;
}

/******************** Interactive Report ********************/

table.apexir_WORKSHEET_DATA {
	border-collapse: separate!important;
}

table.apexir_WORKSHEET_DATA th {
    background: url("ir-bg.png") repeat-x 0 0 #3465B0;
	border-left: 1px solid #AAAAAA;
}

table.apexir_WORKSHEET_DATA th div {
	cursor: pointer;
}

table.apexir_WORKSHEET_DATA th:hover:not(.current) {
	background: url("ir-bg.png") repeat-x 0 -42px #4687CC;
}

table.apexir_WORKSHEET_DATA th.current {
	border-left: 1px solid #AAAAAA;
	border-right: none;
}

table.apexir_WORKSHEET_DATA th.current div {
	cursor: default;
}

table.apexir_WORKSHEET_DATA td {
	border-top:none!important;
	border-bottom:1px solid #AAAAAA!important;
	background-color:transparent!important;
	padding:6px;
}

table.apexir_WORKSHEET_DATA tr.even:hover td,
table.apexir_WORKSHEET_DATA tr.odd:hover td,
table.apexir_WORKSHEET_DATA tr:hover td {
	background-color:transparent!important;
}

table.apexir_WORKSHEET_DATA tr th div{
	text-decoration:none!important;
}

button.apexir-button {
    background: url("bt-gray-r.png") right no-repeat;
}

button.apexir-button span {
    height: 20px;
    line-height: 20px;
    background: url("bt-gray-l.png") left no-repeat;
    color: #4F4F4F;
}

button.apexir-go-button {
    background: url("bt-gray-r.png") right no-repeat;
}

button.apexir-go-button span {
    height: 20px;
    line-height: 20px;
    background: url("bt-gray-l.png") left no-repeat;
    color: #4F4F4F;
}

#apexir_TOOLBAR button.dhtmlMenu {
    background: url("bt-pulldown-gray-bg-r.png") right no-repeat;
    padding: 0 25px 0 0;
}

#apexir_TOOLBAR button.dhtmlMenu span {
    height: 20px;
    line-height: 20px;
    background: url("bt-gray-l.png") left no-repeat;
    color: #4F4F4F;
}

#apexir_TOOLBAR button.dhtmlMenuOn {
    background: url("bt-pulldown-gray-bg-r.png") right no-repeat;
    padding: 0 25px 0 0;
}

#apexir_TOOLBAR button.dhtmlMenuOn span {
    height: 20px;
    line-height: 20px;
    background: url("bt-gray-l.png") left no-repeat;
    color: #4F4F4F;
}

#modal_LOADER, #apexir_LOADER {
	/*
    background-color: #333333;
	opacity: 0.3;
	*/
	/* IE8 */
	/*
	filter: alpha(opacity=30); 
	*/
	background-color: rgba(51, 51, 51,0.3);
    height: 100%;
	width: 100%;
	top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
	cursor: wait;
}

#modal_LOADER img, #apexir_LOADER img {
    left: 48%;
    position: relative;
    top: 34%;
	cursor: wait;
}

#apexir_rollover.ui-resizable {
	padding-right: 8px;
}

#apexir_rollover div.ui-resizable-handle {
	background: url("resize-e.png") no-repeat scroll 0 50% #F0F0F0;
	border-left:2px solid #F0F0F0;
	right: 0;
}

#apexir_DATA_PANEL table {
    width: 100%;
}
/******************** Textarea formating buttons ********************/
ul.format-btn {
	margin: 0;
	padding: 3px 0;
	height: 32px;
	margin-left: 3px;
}
ul.format-btn li {
    display: block;
    float: left;
    height: 24px;
    list-style: none outside none;
    padding: 4px 0;
    width: 28px;
}
ul.format-btn img {
    border: 1px solid #EAEAEA;
	width: 20px;
	height: 22px;
	cursor: pointer;
}
ul.format-btn img:active {
    border: 2px solid #FAFAFA;
}

/******************** Author ********************/
div.author {
	margin-bottom: 55px;
}
h2.author-name{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -1px;
    padding: 10px 0 5px;
	margin-top: 15px;
}
div.author-left {
    width: 128px;
}
div.author-right {
    float: right;
    padding: 0 15px 0 25px;
    width: 538px;
}

.profile-link {
	font: 100% Arial,sans-serif;
	color: #0783B6;
	text-decoration: none;
}
.profile-link  img{
	 vertical-align: middle;
}

/******************** SLIMBOX ********************/
/**
 * Slimbox v2.04 - The ultimate lightweight Lightbox clone for jQuery
 * (c) 2007-2010 Christophe Beyls <http://www.digitalia.be>
 * MIT-style license.
 */
#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #FAFAFA;
}

.lbLoading {
	background: #FAFAFA url("loading.gif") no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #FAFAFA;
	background-repeat: no-repeat;
}

#lbPrevLink,
#lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url("prevlabel.png") no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url("nextlabel.png") no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #FAFAFA;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url("closelabel.png") no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbNumber,
#lbCaption {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}

/* Basic jQuery Slider essential styles */

ul.bjqs{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
	border:1px solid #ccc;
	box-shadow:3px 9px 10px -6px #bbbbbb;
}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 12px 0 0 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{
	display:inline-block;
	border: 1px solid #005eb0;
	border-radius: 3px;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin: 2px;
	padding: 3px 5px;
	text-align: center;
	width: 14px;
}
ol.bjqs-markers li a:hover {
    background-color: #005EB0;
    color: #FAFAFA;
}
ol.bjqs-markers li.active-marker a{
    background: none repeat scroll 0 0 #005eb0;
    border-radius: 3px;
    color: #fafafa;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin: 2px;
    padding: 4px 7px;
    text-align: center;
    width: 14px;
}
div.bjqs-caption {
	color:#000000;
    bottom: 0px;
    display: block;
    margin: 0;
    padding-left: 2%;
    position: absolute;
    width: 100%;
    background: none repeat scroll 0 0 rgba(250,250,250,0.7);
}


/******************** SyntaxHighlighter shCoreDefault.css********************/
/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	/*
	-moz-border-radius:0 0 0 0 !important;
	-webkit-border-radius:0 0 0 0 !important;
	*/
	background:none !important;
	border:0 !important;
	box-shadow:none !important;
	bottom:auto !important;
	float:none !important;
	height:auto !important;
	left:auto !important;
	line-height:1.1em !important;
	margin:0 !important;
	outline:0 !important;
	overflow:visible !important;
	padding:0 !important;
	position:static !important;
	right:auto !important;
	text-align:left !important;
	top:auto !important;
	vertical-align:baseline !important;
	width:auto !important;
	box-sizing:content-box !important;
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
	font-weight:normal !important;
	font-style:normal !important;
	font-size:1em !important;
	min-height:inherit !important;
	min-height:auto !important;
}
.syntaxhighlighter{
	width:100% !important;
	margin:1em 0 1em 0 !important;
	position:relative !important;
	overflow:auto !important;
	font-size:1em !important;
}
.syntaxhighlighter.source{
	overflow:hidden !important;
}
.syntaxhighlighter .bold{
	font-weight:bold !important;
}
.syntaxhighlighter .italic{
	font-style:italic !important;
}
.syntaxhighlighter .line{
	white-space:pre !important;
}
.syntaxhighlighter table{
	width:100% !important;
}
.syntaxhighlighter table caption{
	text-align:left !important;
	padding:.5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code{
	width:100% !important;
}
.syntaxhighlighter table td.code .container{
	position:relative !important;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing:border-box !important;
	position:absolute !important;
	left:0 !important;
	top:0 !important;
	width:100% !important;
	height:100% !important;
	border:none !important;
	box-shadow:none !important;
	background:#FCFCFC !important;
	padding-left:1em !important;
	overflow:hidden !important;
	white-space:pre !important;
}
.syntaxhighlighter table td.gutter .line{
	text-align:right !important;
	padding:0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line{
	padding:0 1em !important;
}
.syntaxhighlighter.nogutter td.code .line,
.syntaxhighlighter.nogutter td.code .container textarea {
	padding-left:0em !important;
	box-shadow:none !important;
}
.syntaxhighlighter.show{
	display:block !important;
}
.syntaxhighlighter.collapsed table{
	display:none !important;
}
.syntaxhighlighter.collapsed .toolbar{
	padding:0.1em 0.8em 0em 0.8em !important;
	font-size:1em !important;
	position:static !important;
	width:auto !important;
	height:auto !important;
}
.syntaxhighlighter.collapsed .toolbar span{
	display:inline !important;
	margin-right:1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a{
	padding:0 !important;
	display:none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource{
	display:inline !important;
}
.syntaxhighlighter .toolbar{
	position:absolute !important;
	right:1px !important;
	top:1px !important;
	width:11px !important;
	height:11px !important;
	font-size:10px !important;
	z-index:10 !important;
}
.syntaxhighlighter .toolbar span.title{display:inline !important;}
.syntaxhighlighter .toolbar a{display:block !important;text-align:center !important;text-decoration:none !important;padding-top:1px !important;}
.syntaxhighlighter .toolbar a.expandSource{display:none !important;}
.syntaxhighlighter.ie{font-size:.9em !important;padding:1px 0 1px 0 !important;}
.syntaxhighlighter.ie .toolbar{line-height:8px !important;}
.syntaxhighlighter.ie .toolbar a{padding-top:0px !important;}
.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content{background:none !important;}
.syntaxhighlighter.printing .line .number{color:#bbbbbb !important;}
.syntaxhighlighter.printing .line .content{color:#333333 !important;}
.syntaxhighlighter.printing .toolbar{display:none !important;}
.syntaxhighlighter.printing a{text-decoration:none !important;}
.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a{color:#333333 !important;}
.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a{color:#008200 !important;}
.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a{color:blue !important;}
.syntaxhighlighter.printing .keyword{color:#006699 !important;font-weight:bold !important;}
.syntaxhighlighter.printing .preprocessor{color:gray !important;}
.syntaxhighlighter.printing .variable{color:#aa7700 !important;}
.syntaxhighlighter.printing .value{color:#009900 !important;}
.syntaxhighlighter.printing .functions{color:#ff1493 !important;}
.syntaxhighlighter.printing .constants{color:#0066cc !important;}
.syntaxhighlighter.printing .script{font-weight:bold !important;}
.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a{color:gray !important;}
.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a{color:#ff1493 !important;}
.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a{color:red !important;}
.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a{color:#333333 !important;}
.syntaxhighlighter{background-color:#FCFCFC !important;}
.syntaxhighlighter .line.alt1{background-color:#FCFCFC !important;}
.syntaxhighlighter .line.alt2{background-color:#FCFCFC !important;}
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{background-color:#e0e0e0 !important;}
.syntaxhighlighter .line.highlighted.number{color:#333333 !important;}
.syntaxhighlighter table caption{color:#333333 !important;}
.syntaxhighlighter .gutter{color:#afafaf !important;}
.syntaxhighlighter .gutter .line{border-right:3px solid #6ce26c !important;}
.syntaxhighlighter .gutter .line.highlighted{background-color:#6ce26c !important;color:#FCFCFC !important;}
.syntaxhighlighter.printing .line .content{border:none !important;}
.syntaxhighlighter.collapsed{overflow:visible !important;}
.syntaxhighlighter.collapsed .toolbar{color:blue !important;background:#FCFCFC !important;border:1px solid #6ce26c !important;}
.syntaxhighlighter.collapsed .toolbar a{color:blue !important;}
.syntaxhighlighter.collapsed .toolbar a:hover{color:red !important;}
.syntaxhighlighter .toolbar{color:#FCFCFC !important;background:#6ce26c !important;border:none !important;}
.syntaxhighlighter .toolbar a{color:#FCFCFC !important;}
.syntaxhighlighter .toolbar a:hover{color:#333333 !important;}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#333333 !important;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#008200 !important;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:blue !important;}
.syntaxhighlighter .keyword{color:#006699 !important;}
.syntaxhighlighter .preprocessor{color:gray !important;}
.syntaxhighlighter .variable{color:#aa7700 !important;}
.syntaxhighlighter .value{color:#009900 !important;}
.syntaxhighlighter .functions{color:#ff1493 !important;}
.syntaxhighlighter .constants{color:#0066cc !important;}
.syntaxhighlighter .script{font-weight:bold !important;color:#006699 !important;background-color:transparent !important;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:gray !important;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#ff1493 !important;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:red !important;}
.syntaxhighlighter .keyword{font-weight:bold !important;}

/* Custom */
.syntaxhighlighter{
	overflow-y: hidden !important;
	padding: 3px 0!important;
}