@code-font:"SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Bitstream Vera Sans Mono","Courier New","monospace";
@code-font-size: 1.1rem;
@code-padding: 1em 1.5em;
@code-tab-size: 2;
@code-margin: 8px 8px 18px 8px;
@code-border-left: 0.4em solid #6ce26c;

@margin-large: 3.2rem;
@margin-medium: 1.6rem;
@margin-small: 0.8rem;
@margin-none: 0;

@post-title-font-size: 1.6em;
@post-category-font-size: 1em;
@post-date-font-size: 1em;
@post-padding: 1.6rem;

@blockquote-quote-size: 2.2rem;
