@code-font:"SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Bitstream Vera Sans Mono","Courier New","monospace";
@code-font-size: 0.75rem;
@code-padding: 1em 1.5em;
@code-tab-size: 2;
@code-margin: 8px 8px 18px 8px;

@margin-large: 2rem;
@margin-medium: 1rem;
@margin-small: 5rem;
@margin-none: 0;

@post-title-font-size: 1.625em;
@post-category-font-size: 1em;
@post-date-font-size: 1em;
@post-padding: 1rem;
