@import url('_variables.less');
/**************************************
* Post editor
**************************************/
#P12_BODY_HTML_CONTAINER {
  padding-right: 1.5rem;
  .t-Form-helpButton{
    display:none;
    visibility: hidden;
  }
}
/**************************************
* IR files
**************************************/
td[headers="COPY_URL"] {
  padding: 0;
}
/**************************************
* IR post report
**************************************/
.z-post--IR {
  margin: 2em 1rem
}
/**************************************
* Interactive Reports link column
**************************************/
.z-IR--iconLinks {
	tr > :first-child {
		padding: 0.25rem;
		width: 0.1%;
	}
}
/**************************************
* Settings and features Interactive Grid
**************************************/
.z-config-ig {
  span.a-GV-breakLabel {
  	display: none!important;
    visibility: hidden!important;
  }
}
/**************************************
* Page Views Metric Bar column
**************************************/
#VIEW_PCT_GRAPH{
  width: 20%;
}
