@import url('_variables.less');
/**************************************
* Page views metric bar column
**************************************/
.z-page-view-breakdown {
  .t-Report-colHead:last-child,
  .t-Report-cell:last-child {
    width: 20%;
  }
}
@media only screen and (max-width: 684px) {
  .z-page-view-breakdown {
    .t-Report-colHead:last-child,
    .t-Report-cell:last-child {
      display: none;
    }
  }
}
/**************************************
* Posts IR detail view
**************************************/
.z-posts {
  &.z-post--IR {
    .z-post {
      font-size: 1rem;
      margin: 2em 1rem;
    }
  }
}
/**************************************
* Interactive Reports link column
**************************************/
.z-IR--iconLinks {
  td:has( .t-Button ),
  td:has( .t-Icon )  {
    width: .1%;
    padding: 0.25rem 0.5rem;
  }
}
/**************************************
* Settings and features Interactive Grid
**************************************/
.z-config-ig {
  span.a-GV-breakLabel {
    display: none!important;
    visibility: hidden!important;
  }
}
