@import url('_variables.less');
/**************************************
* Classic reports
**************************************/
.nodatafound {
  text-align: center;
  color: var(--ut-component-text-default-color);
  font-size: 1rem;
  padding: 1rem;
}
.pagination {
  text-align: right;
  width: 100%;
}
/**************************************
* Search Result tags column
**************************************/
.z-search--tags {
  margin-inline-start: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.z-search--tags:first-child {
  margin-inline-start: 0!important;
}
