@import url('_variables.less');
/**************************************
* Admin application comments IR detail view
**************************************/
.blog-comment-IR {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
  padding: @post-padding;
  background-color: var(--ut-component-background-color);
  border: var(--ut-component-border-width) solid var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  .blog-commentContainer {
    font-size: 1rem;
    margin: 0 1rem;
    width: 100%;
    overflow: hidden;
    .blog-commentPostTitle {
      color: var(--ut-comment-info-color,var(--ut-component-text-muted-color));
    }
    .blog-commentSubtitle {
      padding: 0.5rem 0 1.5rem;
    }
    .blog-commentBody {
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: var(--ut-component-text-default-color);
      p {
        margin-block-end: 0.5rem;
      }
    }
  }
}
.blog-comment-SentimentIcon {
  border-radius: 50%;
}