@import url('_variables.less');
/**************************************
* Comments classic report
**************************************/
.blog-comment {
  --ut-comment-info-font-size: 1rem;
  .a-ResultsItem-content,
  .t-Comments-body {
    min-width: 0;
  }
  .t-Comments-body {
    .t-Comments-info {
      margin-block-end: 0.5rem;
    }
    .t-Comments-comment {
      p {
        margin-block-end: 0.5rem;
      }
    }
  }
  // long URL e.g.
  .a-ResultsItem-description,
  .t-Comments-comment {
    overflow-wrap: break-word;
  }
  &.t-Comments-item:not(:last-child) {
    border-bottom: var(--ut-component-inner-border-width) solid var(--ut-component-inner-border-color);
    padding-bottom: var(--ut-comment-item-margin-bottom, 1rem);
  }
}
