@import url('_variables.less');
/**************************************
* Public app custom list template:
*	  Blog Footer Link List (Custom 1)
*
* Credits:
*   https://epicbootstrap.com/snippets/footer-basic
*   https://jsfiddle.net/Grobbert/gmqth51o/1/
**************************************/
.blog-footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.125rem;
  .blog-footerList-item {
    padding: 0 0.625rem;
    font-size: inherit;
  }
  .blog-footerList-link {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  .blog-footerList-link {
    &:hover {
      opacity: 1;
    }
  }
}
.blog-copyright {
  text-align: center;
  padding: 1rem 0;
  .blog-copyright-link {
    color: inherit;
    font-size: 0.875rem;
    opacity: 0.6;
  }
  .blog-copyright-link {
    &:hover {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 640px) {
  .blog-footerList {
    flex-direction: column;
    .blog-footerList-item {
      padding: 0.75rem 0;
    }
  }
}
