@import url('_variables.less');
/**************************************
* Admin app login page horizontal ruler
**************************************/
.z-hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 0.5rem 0px;
  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
  }
  &::before {
    margin-right: 0.5rem;
  }
  &::after {
    margin-left: 0.5rem;
  }
}
