@import url('_variables.less');
/**************************************
* Post report
**************************************/
.z-post {
  background-color: var(--ut-component-background-color);
  margin-bottom: @margin-medium;
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  padding: @post-padding;
}
.z-post--header {
	clear: both;
	.z-post--title {
		font-size: @post-title-font-size;
		margin: 0 0 0.25rem;
	}
	.z-post--category {
		font-size: @post-category-font-size	;
		margin: 0 0 2rem;
	}
	.z-post--date {
		font-size: @post-date-font-size;
		margin: 0 0 0.25rem;
	}
}
.z-post--body {
  img {
    max-width: 100%;
    height: auto;
  }
  br {
    clear: none!important;
  }
}
.z-post--tags {
  width: 100%;
  clear: both;
  margin: 2rem 0 0;
  border-top-width: var(--ut-component-inner-border-width);
  border-top-style: solid;
  border-top-color: var(--ut-component-inner-border-color);
}
.z-post--footer {
  width: 100%;
  clear: both;
  margin: 1rem 0 0;
}
.z-posts--pagination{
  margin-bottom: 1rem;
}
.z-posts--paginationBorder {
  .z-posts--pagination {
    background-color: var(--ut-component-background-color);
    border-width: var(--ut-component-border-width);
    border-style: solid;
    border-color: var(--ut-component-border-color);
    border-radius: var(--ut-component-border-radius);
    box-shadow: var(--ut-shadow-sm);
    padding: 0.25rem;
  }
}
.z-post--largeMargin {
  .z-post {
    margin-bottom: @margin-large;
  }
}
.z-post--smallMargin {
  .z-post {
    margin-bottom: @margin-small;
  }
}
.z-post--noMargin {
	.z-post {
    margin-bottom: @margin-none;
		&:not(:first-child){
			border-top: none;
		}
	}
}
.z-post--noMargin.z-posts--paginationBorder {
  .z-posts--pagination {
		border-top: none;
	}
}
.z-posts--paginationHidden {
	.z-posts--pagination {
    display: none!important;
    visibility: hidden!important;
	}
}
@media only screen and (max-width: 640px) {
  .z-post {
    padding: @post-padding - 0.25rem;
		margin-bottom: @margin-medium;
  }
  .z-post--header {

  	.z-post--title {
      font-size: @post-title-font-size - 0.25em;
    }
  }
/*
  .z-post--tags {
    text-align: center;
  }
*/
}
