@import url('_variables.less');
/**************************************
* Region
**************************************/
.z-tabs * {
  font-size: 102.8%;
}
.z-app-source {
  padding: 0.6rem 0;
}
/**************************************
* Media list report extra classes
**************************************/
.z-border-radius {
  border-radius: @region-border-radius;
}
.z-MediaList--files {
  .t-MediaList-title {
    word-break: break-word;
  }
}
