@import url('_variables.less');
/**************************************
* Status Marker
* Credits to fac586:
* https://community.oracle.com/tech/developers/discussion/comment/15630636/#Comment_15630636
**************************************/
.z-status-marker {
  position: relative;
  margin: -8px -12px;
  padding: 8px 12px;
}
/*
  Generate a triangle at the top left of report cells containing status marker
  elements.
*/
.z-status-marker::after {
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  content: "";
}
/*
  Colour the triangles according to the specified status class.
*/
.z-status-marker.z-required::after {
  border-color: #c00 transparent transparent #c00;
}
