@import url('_variables.less');
/**************************************
* Utility classes
**************************************/
.blog-hidden {
  display: none;
  visibility: none;
}

.blog-item{
  &.blog-noItemHelp {
    width: calc(100% - 0.5rem);
  }
}

.blog-region-noItemHelp {
  width: calc(100% - 1.5rem);
}