/**************************************
* Page views metric bar column
**************************************/
#VIEW_PCT_GRAPH {
  width: 20%;
}
/**************************************
* IR files
**************************************/
td[headers="COPY_URL"] {
  padding: 0;
}
/**************************************
* Posts IR detail view
**************************************/
.z-post--IR {
  font-size: 1rem;
  margin: 2em 1rem;
}
/**************************************
* Interactive Reports link column
**************************************/
.z-IR--iconLinks tr > :first-child {
  padding: 0.25rem 0.5rem;
  width: 0.1%;
}
/**************************************
* Settings and features Interactive Grid
**************************************/
.z-config-ig span.a-GV-breakLabel {
  display: none!important;
  visibility: hidden!important;
}
/**************************************
* Comments IR detail view
**************************************/
.z-comment-IR {
  display: flex;
  margin: 2em 1rem;
  padding: 1rem;
  background-color: var(--ut-component-background-color);
  border: var(--ut-component-border-width) solid var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
}
.z-comment-IR .z-commentContainer {
  margin: 0 1rem;
  width: 100%;
  overflow: hidden;
}
.z-comment-IR .z-commentContainer .z-commentTitle {
  font-size: 1.5em;
  color: var(--ut-component-text-title-color);
}
.z-comment-IR .z-commentContainer .z-commentSubtitle {
  font-size: 0.875rem;
  color: var(--ut-component-text-subtitle-color);
  margin: 0.5rem 0 1.625rem;
}
.z-comment-IR .z-commentContainer .z-commentBody {
  font-size: 0.875rem;
  color: var(--ut-component-text-default-color);
}
/**************************************
* Elements
**************************************/
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
/**************************************
* Post report
**************************************/
.z-post {
  background-color: var(--ut-component-background-color);
  margin-bottom: 1rem;
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  padding: 1rem;
}
.z-post--header {
  clear: both;
}
.z-post--header .z-post--title {
  font-size: 1.625em;
  margin: 0 0 0.25rem;
}
.z-post--header .z-post--category {
  font-size: 1em;
  margin: 0 0 2rem;
}
.z-post--header .z-post--date {
  font-size: 1.125em;
  margin: 0 0 0.25rem;
}
.z-post--body img {
  max-width: 100%;
  height: auto;
}
.z-post--body br {
  clear: none!important;
}
.z-post--tags {
  width: 100%;
  clear: both;
  margin: 2rem 0 0;
  border-top-width: var(--ut-component-inner-border-width);
  border-top-style: solid;
  border-top-color: var(--ut-component-inner-border-color);
}
.z-post--footer {
  width: 100%;
  clear: both;
  margin: 1rem 0 0;
}
.z-posts--pagination {
  margin-bottom: 1rem;
}
.z-posts--paginationBorder .z-posts--pagination {
  background-color: var(--ut-component-background-color);
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  padding: 0.25rem;
}
.z-post--largeMargin .z-post {
  margin-bottom: 2rem;
}
.z-post--smallMargin .z-post {
  margin-bottom: 0.5rem;
}
.z-post--noMargin .z-post {
  margin-bottom: 0;
}
.z-post--noMargin .z-post:not(:first-child) {
  border-top: none;
}
.z-post--noMargin.z-posts--paginationBorder .z-posts--pagination {
  border-top: none;
}
.z-posts--paginationHidden .z-posts--pagination {
  display: none!important;
  visibility: hidden!important;
}
@media only screen and (max-width: 640px) {
  .z-post {
    padding: 0.75rem;
    margin-bottom: 1rem;
  }
  .z-post--header .z-post--title {
    font-size: 1.375em;
  }
}
/**************************************
* Classic reports
**************************************/
.nodatafound {
  text-align: center;
  color: var(--ut-component-text-default-color);
  font-size: 1rem;
  padding: 1rem;
}
.pagination {
  text-align: right;
  width: 100%;
}
/**************************************
* Search Result tags column
**************************************/
.z-search--tags:first-child {
  margin-inline-start: 0!important;
}
/**************************************
* APEX 21.2:
*   fix search engine style pagination
*   https://community.oracle.com/tech/developers/discussion/4494954/bug-ut-21-2-search-engine-pagination-misalignment
**************************************/
.t-Report-paginationText strong {
  display: inline-block;
  vertical-align: top;
  border-radius: var(--ut-report-pagination-link-border-radius, 0.125rem);
  -webkit-padding-before: var(--ut-report-pagination-link-padding-y, 0.25rem);
  padding-block-start: var(--ut-report-pagination-link-padding-y, 0.25rem);
  -webkit-padding-after: var(--ut-report-pagination-link-padding-y, 0.25rem);
  padding-block-end: var(--ut-report-pagination-link-padding-y, 0.25rem);
  -webkit-padding-start: var(--ut-report-pagination-link-padding-x, 0.5rem);
  padding-inline-start: var(--ut-report-pagination-link-padding-x, 0.5rem);
  -webkit-padding-end: var(--ut-report-pagination-link-padding-x, 0.5rem);
  padding-inline-end: var(--ut-report-pagination-link-padding-x, 0.5rem);
  background-color: var(--ut-report-pagination-link-background-color);
  color: var(--ut-report-pagination-link-text-color);
  --ut-report-pagination-link-background-color: var(--ut-report-pagination-link-hover-background-color, var(--ut-palette-primary));
  --ut-report-pagination-link-text-color: var(--ut-report-pagination-link-hover-text-color, var(--ut-palette-primary-contrast));
}
/**************************************
* Program code formatting
**************************************/
pre.z-program-code {
  clear: both;
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace";
  font-size: 0.75rem;
  color: var(--ut-component-badge-text-color);
  tab-size: 2;
  overflow-x: auto;
  display: block;
  padding: 1em 1.5em;
  margin: 8px 8px 18px 8px;
  border-width: var(--ut-component-inner-border-width);
  border-style: solid;
  border-color: var(--ut-component-inner-border-color);
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: var(--u-color-35);
  border-radius: var(--ut-component-badge-border-radius);
  background-color: var(--ut-component-badge-background-color);
  box-shadow: var(--ut-shadow-sm);
}
pre.z-program-code code {
  font-family: inherit;
  font-size: inherit;
}
/**************************************
* Comments report
**************************************/
.z-comment .t-Comments-body {
  width: 0;
}
.z-comment .t-Comments-comment {
  overflow-wrap: break-word;
}
/**************************************
* Status Marker
*
* Credits to fac586:
*   https://community.oracle.com/tech/developers/discussion/comment/15630636/#Comment_15630636
**************************************/
.z-status-marker {
  position: relative;
  margin: -8px -12px;
  padding: 8px 12px;
}
.z-status-marker--left::before {
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  content: "";
}
.z-status-marker--left.z-required::before {
  border-color: var(--u-color-9) transparent transparent var(--u-color-9);
}
.z-status-marker--right::after {
  position: absolute;
  top: 0;
  right: 0;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  content: "";
}
.z-status-marker--right.z-required::before {
  border-color: var(--u-color-9) transparent transparent var(--u-color-9);
}
/**************************************
* Login page horizontal ruler
**************************************/
.z-hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}
.z-hr-section::before,
.z-hr-section::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.z-hr-section::before {
  margin-right: 8px;
}
.z-hr-section::after {
  margin-left: 8px;
}
/**************************************
* Modifiers
**************************************/
.z-text-wrap {
  white-space: pre-wrap;
}
.z-hidden {
  display: none!important;
  visibility: hidden!important;
}
