/**************************************
* Post editor
**************************************/
#P12_BODY_HTML_CONTAINER .t-Form-helpButton {
  display: none;
  visible: hidden;
}
#P12_BODY_HTML_CONTAINER {
  padding-right: 2.2rem;
}
/**************************************
* IR post report
**************************************/
.z-post--IR {
  margin: 3.2rem 1.6rem;
}
/**************************************
* Interactive Reports link column
**************************************/
.z-IR--iconLinks tr > :first-child {
  padding: 0.4em;
  width: 0.1%;
}
/**************************************
* Settings and features Interactive Grid
**************************************/
.z-config-ig span.a-GV-breakLabel {
  display: none!important;
  visibility: hidden!important;
}
.z-config-ig span.z-feature--child {
  margin-left: 1.6rem;
}
/**************************************
* Elements
**************************************/
blockquote::before {
  content: open-quote;
  font-size: 2.2rem;
}
blockquote::after {
  content: close-quote;
  font-size: 2.2rem;
}
blockquote p {
  display: inline;
}
/**************************************
* Post report
**************************************/
.z-post {
  font-size: 112%;
  background-color: #ffffff;
  margin-bottom: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.075);
  padding: 1.6rem;
}
.z-post--header {
  clear: both;
}
.z-post--header h1 {
  font-size: 1.6em;
  margin: 0 0 0.2rem;
}
.z-post--header h2 {
  font-size: 1em;
  margin: 0 0 1.8rem;
}
.z-post--header h3 {
  font-size: 1em;
  margin: 0 0 0.2rem;
}
.z-post--body img {
  max-width: 100%;
  height: auto;
}
.z-post--body br {
  clear: none!important;
}
.z-post--tags {
  width: 100%;
  clear: both;
  margin: 2rem 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}
.z-post--footer {
  width: 100%;
  clear: both;
  margin: 1.2rem 0 0;
}
.z-posts--pagination {
  margin-bottom: 16px;
}
.z-posts--paginationBorder .z-posts--pagination {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 0.4rem;
}
.z-post--largeMargin .z-post {
  margin-bottom: 3.2rem;
}
.z-post--smallMargin .z-post {
  margin-bottom: 0.8rem;
}
.z-post--noMargin .z-post {
  margin-bottom: 0;
}
.z-post--noMargin .z-post:not(:first-child) {
  border-top: none;
}
.z-post--noMargin.z-posts--paginationBorder .z-posts--pagination {
  border-top: none;
}
.z-posts--paginationHidden .z-posts--pagination {
  display: none!important;
  visibility: hidden!important;
}
@media only screen and (max-width: 640px) {
  .z-post {
    padding: 1.2rem;
    margin-bottom: 1.6rem;
  }
  .z-post--header h1 {
    font-size: 1.4em;
  }
}
/**************************************
* Classic reports
**************************************/
.nodatafound {
  text-align: center;
  color: #262626;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 2.2rem;
}
.pagination {
  text-align: right;
  width: 100%;
}
/**************************************
* General custom report
**************************************/
.z-Content .z-Content--Row {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.075);
  margin-bottom: 1.6rem;
}
.z-Content--Row {
  background-color: #ffffff;
}
.z-Content--Title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 1.2rem;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.z-Content--Body {
  padding: 1.6rem;
}
.z-Content--Stacked .z-Content--Title {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}
.z-Content--Stacked .z-Content--Row:first-child .z-Content--Title {
  border-top: none;
}
/**************************************
* Program code formatting
**************************************/
pre.z-program-code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  color: #262626;
  font-size: 1.1rem;
  tab-size: 2;
  overflow-x: auto;
  display: block;
  padding: 1em 1.5em;
  margin: 8px 8px 18px 8px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-left: 0.3em solid #6ce26c;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.075);
}
pre.z-program-code code {
  font-family: inherit;
  font-size: inherit;
}
/**************************************
* Comments report
**************************************/
.z-comment .t-Comments-body {
  width: 0;
}
.z-comment .t-Comments-comment {
  overflow-wrap: break-word;
}
/**************************************
* Modifiers
**************************************/
.z-text-wrap {
  white-space: pre-wrap;
}
.z-hidden {
  display: none!important;
  visibility: hidden!important;
}
/**************************************
* Status Marker
* Credits to fac586:
* https://community.oracle.com/tech/developers/discussion/comment/15630636/#Comment_15630636
**************************************/
.z-status-marker {
  position: relative;
  margin: -8px -12px;
  padding: 8px 12px;
}
/*
  Generate a triangle at the top left or right of report cells containing status marker elements
*/
.z-status-marker--left::before {
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  content: "";
}
.z-status-marker--right::after {
  position: absolute;
  top: 0;
  right: 0;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  content: "";
}
/*
  Colour the triangles according to the specified status class.
*/
.z-status-marker--left.z-required::before {
  border-color: #c00 transparent transparent #c00;
}
.z-status-marker--right.z-required::after {
  border-color: #c00 #c00 transparent transparent;
}
