/**************************************
* CHKEditor
**************************************/
.z-author-container {
  display: flex;
}
.z-author-left {
  order: 1;
  display: flex;
  flex-direction: column;
}
.z-author-right {
  order: 2;
  padding: 0 0 0 1.6rem;
}
.z-author-badges {
  display: flex;
  flex-direction: column;
}
.z-author-badges > * {
  margin: 1rem 0;
}
@media only screen and (max-width: 640px) {
  .z-author-container {
    flex-direction: column;
    align-items: center;
  }
  .z-author-right {
    padding: 1.6rem 0;
  }
  .z-author-badges {
    padding: 1.6rem 0;
    align-items: center;
  }
}
/* Editor program code */
pre.z-program-code {
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace" !important;
  background-color: #eeeeee;
  border-left: 0.4em solid #6ce26c !important;
  padding-left: 0.8em;
  white-space: pre;
}
