/**************************************
* Elements
**************************************/
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
/**************************************
* Logo
**************************************/
.z-app-logo {
  display: flex;
  align-items: baseline;
}
.z-app-logo .z-app-desc {
  white-space: normal;
  font-style: oblique;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}
@media only screen and (max-width: 640px) {
  .z-app-logo {
    flex-direction: column;
  }
  .z-app-logo .z-app-desc {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0;
  }
}
@media (max-width: 340px) {
  .z-app-logo .z-app-desc {
    display: none!important;
  }
}
/**************************************
* Media list report extra classes
**************************************/
.z-MediaList--files .t-MediaList-title {
  word-break: break-word;
}
/**************************************
* Footer Link List
*
* Credits:
*   https://epicbootstrap.com/snippets/footer-basic
*   https://jsfiddle.net/Grobbert/gmqth51o/1/
**************************************/
.z-footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.125rem;
}
.z-footerList .z-footerList-item {
  padding: 0 10px;
  font-size: inherit;
}
.z-footerList .z-footerList-link {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}
.z-footerList .z-footerList-link:hover {
  opacity: 1;
}
.z-copyright {
  text-align: center;
  padding: 1rem 0;
}
.z-copyright .z-copyright-link {
  display: block;
  color: inherit;
  font-size: 0.875rem;
  opacity: 0.6;
}
.z-copyright:hover .z-copyright-link {
  opacity: 1;
}
@media only screen and (max-width: 640px) {
  .z-footerList {
    flex-direction: column;
  }
  .z-footerList .z-footerList-item {
    padding: 0.75rem 0;
  }
}
/**************************************
* Classic reports
**************************************/
.nodatafound {
  text-align: center;
  color: var(--ut-component-text-default-color);
  font-size: 1rem;
  padding: 1rem;
}
.pagination {
  text-align: right;
  width: 100%;
}
/**************************************
* Search Result tags column
**************************************/
.z-search--tags:first-child {
  margin-inline-start: 0!important;
}
/**************************************
* Post report
**************************************/
.z-post {
  background-color: var(--ut-component-background-color);
  margin-bottom: 1rem;
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  padding: 1rem;
}
.z-post--header {
  clear: both;
}
.z-post--header .z-post--date {
  font-size: 1.125em;
  margin: 0 0 0.25rem;
}
.z-post--header .z-post--title {
  font-size: 1.625em;
  margin: 0 0 0.5rem;
}
.z-post--header .z-post--category {
  font-size: 1em;
  margin: 0 0 1rem;
}
.z-post--body img {
  max-width: 100%;
  height: auto;
}
.z-post--body br {
  clear: none!important;
}
.z-post--tags {
  width: 100%;
  clear: both;
  margin: 2rem 0 0;
  border-top-width: var(--ut-component-inner-border-width);
  border-top-style: solid;
  border-top-color: var(--ut-component-inner-border-color);
}
.z-post--footer {
  width: 100%;
  clear: both;
  margin: 1rem 0 0;
}
.z-posts--pagination {
  margin-bottom: 1rem;
}
.z-posts--paginationBorder .z-posts--pagination {
  background-color: var(--ut-component-background-color);
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  padding: 0.25rem;
}
.z-post--largeMargin .z-post {
  margin-bottom: 2rem;
}
.z-post--smallMargin .z-post {
  margin-bottom: 0.5rem;
}
.z-post--noMargin .z-post {
  margin-bottom: 0;
}
.z-post--noMargin .z-post:not(:first-child) {
  border-top: none;
}
.z-post--noMargin.z-posts--paginationBorder .z-posts--pagination {
  border-top: none;
}
.z-posts--paginationHidden .z-posts--pagination {
  display: none!important;
  visibility: hidden!important;
}
@media only screen and (max-width: 640px) {
  .z-post {
    padding: 0.75rem;
    margin-bottom: 1rem;
  }
  .z-post--header .z-post--title {
    font-size: 1.375em;
  }
}
/**************************************
* General custom report
**************************************/
.z-Content .z-Content--Row {
  border-width: var(--ut-component-border-width);
  border-style: solid;
  border-color: var(--ut-component-border-color);
  border-radius: var(--ut-component-border-radius);
  box-shadow: var(--ut-shadow-sm);
  margin-bottom: 1rem;
}
.z-Content--Row {
  background-color: var(--ut-component-background-color);
  overflow: hidden;
}
.z-Content--Title {
  font-size: var(--ut-region-header-font-size, 1rem);
  font-weight: 500;
  border-bottom-width: var(--ut-component-inner-border-width);
  border-bottom-style: solid;
  border-bottom-color: var(--ut-component-inner-border-color);
  background-color: var(--ut-region-header-background-color);
  padding: var(--ut-region-header-padding-x, 0.75rem);
  margin: 0;
}
.z-Content--Body {
  padding: 1rem;
}
.z-Content--Stacked .z-Content--Title {
  border-top-width: var(--ut-component-inner-border-width);
  border-top-style: solid;
  border-top-color: var(--ut-component-inner-border-color);
}
.z-Content--Stacked .z-Content--Row:first-child .z-Content--Title {
  border-top: none;
}
/**************************************
* Program code formatting
**************************************/
/* Pre APEX 22.2 CKEditor 4*/
pre.z-program-code {
  clear: both;
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace";
  font-size: 0.75rem;
  color: var(--ut-component-badge-text-color);
  tab-size: 2;
  overflow-x: auto;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-width: var(--ut-component-inner-border-width);
  border-style: solid;
  border-color: var(--ut-component-inner-border-color);
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: var(--u-color-35);
  border-radius: var(--ut-component-badge-border-radius);
  background-color: var(--ut-component-badge-background-color);
  box-shadow: var(--ut-shadow-sm);
}
pre.z-program-code code {
  font-family: inherit;
  font-size: inherit;
}
/* APEX 22.2 CKEditor 5*/
.ck-content pre:has( code ) {
  clear: both;
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace";
  font-size: 0.75rem;
  color: var(--ut-component-badge-text-color);
  tab-size: 2;
  overflow-x: auto;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-width: var(--ut-component-inner-border-width);
  border-style: solid;
  border-color: var(--ut-component-inner-border-color);
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: var(--u-color-35);
  border-radius: var(--ut-component-badge-border-radius);
  background-color: var(--ut-component-badge-background-color);
  box-shadow: var(--ut-shadow-sm);
}
.ck-content pre:has( code ) code {
  font-family: inherit;
  font-size: inherit;
}
/**************************************
* About content
**************************************/
.z-author-container {
  display: flex;
  gap: 1rem;
}
.z-author-container .z-author-left {
  order: 1;
  display: flex;
  flex-direction: column;
}
.z-author-container .z-author-right {
  order: 2;
}
.z-author-container .z-author-right .z-author-badges {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
@media only screen and (max-width: 640px) {
  .z-author-container {
    flex-direction: column;
    align-items: center;
  }
  .z-author-container .z-author-right .z-author-badges {
    align-items: center;
  }
}
/**************************************
* Comments report
**************************************/
.z-comment .t-Comments-body {
  width: 0;
}
.z-comment .t-Comments-comment {
  overflow-wrap: break-word;
}
/**************************************
* Link list extra classes
**************************************/
.z-linkList:hover {
  background-color: var(--ut-linkslist-hover-background-color, var(--ut-component-highlight-background-color));
}
/**************************************
* Tag Cloud
*
* Credits:
*   https://dev.to/alvaromontoro/create-a-tag-cloud-with-html-and-css-1e90
**************************************/
.z-tagCloud {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  margin: 0;
  padding: 0.5rem;
}
.z-tagCloud .z-tagCloud-link {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  position: relative;
  font-size: calc(var(--z-tag-size) * 0.125rem - -0.75rem);
}
.z-tagCloud .z-tagCloud-link[data-weight="1"] {
  --z-tag-size: 1;
}
.z-tagCloud .z-tagCloud-link[data-weight="2"] {
  --z-tag-size: 2;
}
.z-tagCloud .z-tagCloud-link[data-weight="3"] {
  --z-tag-size: 3;
}
.z-tagCloud .z-tagCloud-link[data-weight="4"] {
  --z-tag-size: 4;
}
.z-tagCloud .z-tagCloud-link[data-weight="5"] {
  --z-tag-size: 5;
}
.z-tagCloud .z-tagCloud-link[data-weight="6"] {
  --z-tag-size: 6;
}
.z-tagCloud .z-tagCloud-link[data-weight="7"] {
  --z-tag-size: 7;
}
.z-tagCloud .z-tagCloud-link[data-weight="8"] {
  --z-tag-size: 8;
}
.z-tagCloud .z-tagCloud-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--ut-linkslist-hover-background-color, var(--ut-component-highlight-background-color));
  transform: translate(-50%, 0);
  transition: width 0.25s;
}
.z-tagCloud .z-tagCloud-link:hover::before,
.z-tagCloud .z-tagCloud-link:focus::before {
  width: 100%;
}
.z-tagCloud .z-tagCloud-badge {
  background-color: var(--ut-component-badge-background-color);
  color: var(--ut-component-badge-text-color);
  border-radius: var(--ut-component-badge-border-radius);
  font-size: 0.75rem;
  text-align: center;
  vertical-align: bottom;
  margin-left: 0.25rem;
  padding: 0 0.5rem;
}
.z-tagCloud .z-tagCloud-badge:empty {
  display: none;
}
@media (prefers-reduced-motion) {
  ul.z-tagCloud * {
    transition: none !important;
  }
}
/**************************************
* Modifiers
**************************************/
.z-text-wrap {
  white-space: pre-wrap;
}
.z-hidden {
  display: none!important;
  visibility: hidden!important;
}
.z-overflowHidden {
  overflow: hidden;
}
