/*********************************
*  Custom styles
*********************************/
.z-IR--iconLinks td:first-child {
  width: 1%;
  overflow: visible;
}
input[data-z-switch="true"][value="0"]:checked+label {
  background-color: #8c8c8c;
  border-color: #8c8c8c;
}
/* post report IR specific in admin app */
.z-post--IR{
  margin-left: 8px;
  margin-right: 8px;
  background-color: transparent;
}
