@import url('_variables.less');
/**************************************
* Region
**************************************/
.z-tabs * {
  font-size: 102.8%;
}
.z-app-source {
  padding: 0.6rem 0;
}
/**************************************
* Interactive Grid
**************************************/
/*
.z-config-ig .a-IG-header {
	display: none!important;
  visibility: hidden!important;
}
*/
.z-config-ig span.a-GV-breakLabel {
	display: none!important;
  visibility: hidden!important;
}
/**************************************
* Interactive Report
**************************************/
.z-IR--iconLinks {
	td {
		&:first-child {
			overflow: visible;
			width: 1%;
		}
	}
}
/**************************************
* Media list report extra classes
**************************************/
.z-border-radius {
  border-radius: @region-border-radius;
}
.z-MediaList--files {
  .t-MediaList-title {
    word-break: break-word;
  }
}
