pre.program-code{
  background-color: #eeeeee !important;
  border-left: 3px solid #6ce26c !important;
  padding-left: 0.8em !important;
  overflow-x: auto !important;
  tab-size: 2 !important;
  font-size: 12px !important;
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
}
/* Author info */
.z-author-container {
  display: table;
  width: 100%;
}
.z-author-left {
  display: table-cell;
}
.z-author-right {
  display: table-cell;
  padding-left: 16px;
  vertical-align: top;
}
