/**************************************
* Comments report
**************************************/
.z-comment {
  padding: 1.6rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.z-comment .t-Comments-body {
  width: 0;
}
.z-comment .t-Comments-comment {
  overflow-wrap: break-word;
}
