/* Author info */
.z-author-container {
  display: table;
  width: 100%;
}
.z-author-left {
  display: table-cell;
}
.z-author-right {
  display: table-cell;
  padding-left: 16px;
  vertical-align: top;
}
/* Editor program code */
pre.z-program-code{
  background-color: #eeeeee;
  border-left: 2px solid #6ce26c!important;
  padding-left: 0.8em;
  white-space: pre;
  font-family: "Lucida Console", Courier, monospace;
}
