//out:../css/chkeditor.css

@import url('core/_variables.less');
/**************************************
* CHKEditor
**************************************/
.z-author-container {
  display: flex;
}
.z-author-left {
  order: 1;
  display: flex;
  flex-direction: column;
}
.z-author-right {
  order: 2;
  padding: 0 0 0 1.6rem;
}
.z-author-badges {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

@media only screen and (max-width: 640px) {
  .z-author-container {
    flex-direction: column;
    align-items: center;
  }
  .z-author-right {
    padding: 1.6rem 0;
  }
  .z-author-badges {
    padding: 1.6rem 0;
    align-items: center;
  }
}

/* Editor program code */
pre.z-program-code{
  background-color: #eeeeee;
  white-space: pre;
  font-family: @code-font!important;
  border-left: 0.4rem solid #6ce26c !important;
  padding-left: 0.8rem!important;
}
