/*********************************
*  Universal theme overrides
*********************************/
/**
* Remove link button border when focused
**/
.t-Button--link:focus:before,
.t-Button--link:focus:after{
  outline:none!important;
  box-shadow:none!important;
}
.t-Header-logo{
  line-height: 1.8rem;
}
/*********************************
*  Custom styles
*********************************/
/**
* Logo
**/
.z-app-logo q{
  display: block;
	font-size: 1.4rem;
	font-style: oblique;
  font-weight: normal;
}

/**
* Author info
**/
.z-author--card .t-Card{
  margin: 0;
  padding: 0;
  width: 100%;
}
.z-author--card .t-Card-titleWrap {
  min-height: initial;
  border-bottom: 1px solid rgba(0,0,0,.075);
  box-shadow: none;
}
.z-author--card .t-Card-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.z-author--card .t-Card-wrap{
  border: none;
}
.z-author--card .t-Card-colorFill{
  background-color: transparent;
}
.z-author-container{
  display: flex;
  flex-flow: row;
  width: 100%;
}
.z-author-left{
  order: 1;
}
.z-author-left img{
  display: block;
}
.z-author-right{
  order: 2;
  padding-left: 16px;
}
/**
* Reports
**/
.nodatafound{
  font-size: 1.2rem;
}
/**
* Post report
**/
.z-post{
  background-color: #ffffff;
  margin-bottom: 16px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
  padding: 16px;
}
.z-post--header{
  clear: both;
}
.z-post--header h1{
  font-size: 1.6em;
  margin: 0 0 0.2rem;
}
.z-post--header h1 a{
  color: inherit;
}
.z-post--header h2{
  font-size: 1.4rem;
  margin: 0;
}
.z-post--header h3{
  font-size: 1.4rem;
  margin: 0 0 0.2rem;
}
.z-post--body p{
  margin: 1.6rem 0 0;
}
.z-post--body img{
  max-width: 100%;
  height: auto;
}
.z-post--body br{
  clear: none!important;
}
.z-post--footer{
  width: 100%;
  clear: both;
  margin: 1.2rem 0 0;
}
/**
* Comments
**/
.z-comment .t-Comments-body{
  flex: 1 1 auto;
  width: 0;
}
.z-comment .t-Comments-comment{
  width: 100%;
  overflow-wrap: break-word;
}
.z-comment pre{
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}
.z-comment p,
.z-comment pre{
  margin: 1.6rem 0 0;
}
.z-comment p:first-child,
.z-comment pre:first-child,
.z-comment pre.z-program-code:first-child{
  margin-top: 0;
}
/**
* Links Report
**/
.z-links{
  background-color: transparent;
}
li.z-links--header{
  display: flex;
  flex-grow: 1;
  border-top: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: none;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
  margin-top: 16px;
  background-color: #ffffff;
  border-radius: 2px 2px 0 0;
}
li.z-links--header div{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  border-bottom: 1px solid rgba(0,0,0,.075);
}
li.z-links--header:first-child{
  margin-top: 0;
}
li.z-links--item{
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.075);
  background-color: #ffffff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
}
li.z-links--item:last-child{
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

/**
* Program code formating
**/
pre.z-program-code{
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
  color: #333333;
  text-shadow: 0 0 #000000;
  font-size: 1.2rem;
  line-height: 1.4;
  tab-size: 2;
  margin: 0.8rem 0 0;
  border-radius: 4px;
  counter-reset: line;
  overflow-x: auto;
}
pre.z-program-code code{
  counter-increment: line;
  tab-size: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  overflow: visible;
}
pre.z-program-code code:before{
  content: counter(line);
  /*background-color: #f9f9f9;*/
  border-right: 2px solid #e0e0e0;
  margin: 0 0.8em 0 0;
  padding: 0 0.3em 0 0;
  display: inline-block;
  text-align: right;
  width: 2.2em;
  color: #939393;
  -webkit-user-select: none;
}
/**
* Right column link lists
**/
.z-link-list--no-border li,
.z-link-list--no-border a:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 640px){
  /**
  * Post report
  **/
  .z-post{
    padding: 12px;
  }
  .z-post--header h1{
    font-size: 1.4em;
  }
  .z-post--header h2{
    font-size: 1.3rem;
  }
  .z-post--header h3{
    font-size: 1.3rem;
  }
  /**
  * Author info
  **/
  .z-author-container{
    flex-flow: column;
    align-items: center;
  }
}

.z-hidden{
  display: none;
  visibility: hidden;
}
