/**************************************
* Elements
**************************************/
blockquote::before{
  content: open-quote;
  font-size: 2.2rem;
}
blockquote::after{
  content: close-quote;
  font-size: 2.2rem;
}
blockquote p{
  display: inline;
}

/**************************************
* Logo
**************************************/
.z-app-logo{
  display: flex;
  flex-direction: column;
}
.z-app-desc{
  white-space: normal;
}

/**************************************
* Right column link lists
**************************************/
.z-link--no-border,
.z-link--no-border a:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

/**************************************
* Classic reports
**************************************/
.nodatafound{
  text-align: center;
  color: #262626;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0;
}
.pagination{
  text-align: right;
  width: 100%;
}

/**************************************
* Post custom template report
**************************************/
.z-post{
  background-color: #ffffff;
  margin-bottom: 3.2rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
  padding: 16px;
}
.z-post:last-child {
  margin-bottom: 12px;
}
.z-post--header{
  clear: both;
}
.z-post--header h1{
  font-size: 1.6em;
  margin: 0 0 0.2rem;
}
.z-post--header h2{
  font-size: 1.4rem;
  margin: 0 0 1.8rem;
}
.z-post--header h3{
  font-size: 1.4rem;
  margin: 0 0 0.2rem;
}
.z-post--body img{
  max-width: 100%;
  height: auto;
}
.z-post--body br{
  clear: none!important;
}
.z-post--tags{
  width: 100%;
  clear: both;
  margin: 2rem 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.075)
}
.z-post--footer{
  width: 100%;
  clear: both;
  margin: 1.2rem 0 0;
}
.z-post--no-margin .z-post{
  margin-bottom: 0!important;
}

/**************************************
* Archives, categories and links
**************************************/
.z-listStacked--Report ul{
  padding: 1.6rem;
}
.z-listStacked--Header{
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.075);
  padding: 1.2rem;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.z-listStacked--Header:nth-child(2){
  border-top: none;
}
.z-listStacked--Report ul:first-child{
  display: none;
  visibility: hidden;
}

/**************************************
* Links media list report
**************************************/
/*.z-MediaList{
  border-color: #e0e0e0;
}*/
.z-noDataFound .t-MediaList-desc{
  color: #262626;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

/**************************************
* Files media list report
**************************************/
.z-MediaList .nodatafound{
  padding: 16px;
}
.z-MediaList--files .t-MediaList-title {
  word-break: break-word;
}

/**************************************
* General custom report
**************************************/
.z-Content .z-Content--Row{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
  margin-bottom: 3.2rem;
}
.z-Content--Row{
  background-color: #ffffff;
}
.z-Content--Title{
  border-bottom: 1px solid rgba(0,0,0,.075);
  padding: 1.2rem;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.z-Content--Stacked .z-Content--Title{
  border-top: 1px solid rgba(0,0,0,.075);
}
.z-Content--Stacked .z-Content--Row:first-child .z-Content--Title{
  border-top: none;
}
.z-Content--Body{
  padding: 1.6rem;
}

/**************************************
* About content
**************************************/
.z-author-container{
  display: flex;
}
.z-author-left{
  order: 1;
  display: flex;
  flex-direction: column;
}
.z-author-right{
  order: 2;
  padding-left: 16px;
}
.z-author-badges{
  display: flex;
  flex-direction: column;
}
.z-author-badges > *{
  margin: 8px 0;
}

/**************************************
* Comments report
**************************************/
.z-comment .t-Comments-body{
  width: 0;
}
/* long URL e.g. */
.z-comment .t-Comments-comment{
  overflow-wrap: break-word;
}

/**************************************
* Program code formatting
**************************************/
pre.z-program-code{
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
  color: #000000;
  font-size: 1.1rem;
  tab-size: 2;
  counter-reset: line;
  overflow-x: auto;
  border: 1px solid rgba(0,0,0,.075);
  border-radius: 0.2rem;
}
pre.z-program-code code{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  tab-size: inherit;
  counter-increment: line;
  margin: 0;
  padding: 0;
  overflow: visible;
}
pre.z-program-code code::before{
  content: counter(line);
  user-select: none;
  border-right: 2px solid #6ce26c;
  border-left: 1px solid rgba(0,0,0,.075);
  border-top: 1px solid rgba(0,0,0,.075);
  background-color: rgba(0,0,0,.045);
  margin: 0 0.4rem 0 0;
  padding: 0 0.4rem 0 0;
  display: inline-block;
  text-align: right;
  width: 2.4em;
  color: #393939;
}
pre.z-program-code code:first-child:before{
  border-top: none;
}
pre.z-program-code code:nth-child(odd):before{
  background-color: rgba(0,0,0,.065);
}

/**************************************
* Media query
**************************************/
@media only screen and (max-width: 768px){
  .z-app-desc{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 640px){
  .z-app-desc{
    font-size: 1.6rem;
  }
  /**************************************
  * Post custom report template
  **************************************/
  .z-post{
    padding: 1.2rem;
  }
  .z-post--header h1{
    font-size: 1.4em;
  }
  .z-post--header h2{
    font-size: 1.3rem;
  }
  .z-post--header h3{
    font-size: 1.3rem;
  }

  /**************************************
  * Author info
  **************************************/
  .z-author-container{
    flex-flow: column;
    align-items: center;
  }
  .z-author-right{
    margin-top: 8px;
    padding: 0;
  }
  .z-author-badges{
    align-items: center;
  }

}

.z-hidden{
  display: none;
  visibility: hidden;
}
